body{
    font-family: 'Merriweather', serif;
   }
.container {
    text-align: center;
}

table {
    margin: 20px;
    align-items: center;
}

input {
    border: 3px solid #000000;
    font-size: 35px;
    height: 50px;
    width: 315px;
    border-radius: 10px;
}

button {
    color: white;
    font-size: 35px;
    background: #898094;
    width: 70px;
    height: 50px;
    margin: 6px;
    border-radius: 50px;
}

button:hover {
    padding: 1px;
    letter-spacing: .1rem;
}

.btn {
    background-color: rgb(211, 24, 24);
}

.operations {
    background-color: #4c405a;
}

.main {
    border: 5px solid #000000;
    background-color: #f7f3f3;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;

}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    margin-bottom: 50px;
}
